*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

.form-container{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 800px;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.bio-section{
    border: 2px solid rgb(32, 32, 32);
    border-radius: 20px;
    padding: 20px;
    padding-top: 0;
}

.ml-section{
    border: 2px solid rgb(32, 32, 32);
    border-radius: 20px;
    padding: 20px;
    padding-top: 0;
}

.button-submit{
    display: flex;
    justify-content: end;
}

.table-container h1{
    text-align: center;
    color: #333;
}

.table-container{
    border: 2px solid rgb(32, 32, 32);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #4c98af;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
